.form {
  background-color: whitesmoke;
  border-radius: 5px;
  border-width: 5px;
  align-items: center;
  min-width: 400px;
  width: 33%;
  margin: 0 auto;
  padding: 10px;
}

.formGroup {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px 0;
  margin-right: 20px;
}

.flexContainer {
  display: flex;
  flex-direction: row;
}

.formControl {
  border: none;
  padding: 5px 10px;
}
.formControl:focus {
  outline: 1px solid aqua;
}

.formSubmit {
  border: none;
  background-color: rgba(0, 255, 244, 0.5);
  padding: 6px 14px;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
}

.error {
  color: red;
}
